a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: transparent;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

input {
  background-color: #efefef;
}

input:focus {
  outline: solid 2px #fe5454 !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.container {
  min-height: 80px;
  max-width: 80%;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  gap: 26px;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.active {
  color: #fe5454;
  font-weight: 600;
}

.btn_orange {
  font-size: medium;
  color: #efefef;
  background-color: #fe5454;
  border: none;
  padding-inline: 30px;
  padding-block: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

.font-semibold {
  font-weight: 400;
}

.text-large {
  font-size: large;
}

.error {
  color: rgb(255, 62, 62);
}
